.selector{
  background-color: #1A1F24;
  padding-bottom: 25px;
  border-radius: 0 0 15px 15px;

}

.video-caja{
  padding-top: 10px;
}

/* From Uiverse.io by Yaroslav205728 */
.input {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #0D1117;
  justify-content: center;
  border-radius: 5px
}

.value {
background-color: transparent;
    border: none;
    padding-bottom: 17px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    padding-top: 17px;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262C;
}

.value:focus,
.value:active {
  background-color: #1A1F24;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2F81F7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 25px
}
