<div class="container">
  <div class="row">
    <div class="col">
<div class="page-wrap">
  <!-- Título principal -->
  <h2 class="page-title">Seleccione el tamaño del recipiente a etiquetar</h2>

  <!-- Grid de capacidades -->
  <div class="cards-grid">
    <button
      class="tile"
      *ngFor="let t of capacidadTiles; trackBy: trackById"
      type="button"
      (click)="openEtiquetaNormal(t.etiquetaType)"
    >
      <span class="tile-topbar"></span>
      <span class="tile-icon">
        <ng-container [ngSwitch]="t.icon">
          <img *ngSwitchCase="'frasco'" style="width: 100px;" src="../../../assets/img/botella1.png">
          <img *ngSwitchCase="'bidon'" style="width: 100px;" src="../../../assets/img/botella2.png">
          <img *ngSwitchCase="'tambor'" style="width: 100px;" src="../../../assets/img/botella3.png">
          <img *ngSwitchCase="'ibc'" style="width: 100px;" src="../../../assets/img/botella4.png">
          <img *ngSwitchCase="'cartel'" style="width: 100px;" src="../../../assets/img/botella5.png">
        </ng-container>
      </span>
      <span class="tile-title">{{ t.title }}</span>
    </button>
  </div>

  <!-- Subtítulo -->
  <h3 class="section-title">Formatos Simples</h3>

  <!-- Grid de formatos -->
  <div class="cards-grid">
    <button
      class="tile"
      *ngFor="let t of formatoTiles; trackBy: trackById"
      type="button"
      (click)="openEtiquetaNormal(t.etiquetaType)"
    >
      <span class="tile-topbar"></span>
      <span class="tile-icon">
        <ng-container [ngSwitch]="t.icon">
          <img *ngSwitchCase="'frasco'" style="width: 100px;" src="../../../assets/img/botella1.png">
          <img *ngSwitchCase="'bidon'" style="width: 100px;" src="../../../assets/img/botella2.png">
          <img *ngSwitchCase="'tambor'" style="width: 100px;" src="../../../assets/img/botella3.png">
          <img *ngSwitchCase="'ibc'" style="width: 100px;" src="../../../assets/img/botella4.png">
          <img *ngSwitchCase="'cartel'" style="width: 100px;" src="../../../assets/img/botella5.png">
        </ng-container>
      </span>
      <span class="tile-title">{{ t.title }}</span>
    </button>
  </div>
</div>
    </div>
  </div>
</div>
