<div class="d-flex">
<div class="status-card card shadow-sm mr-2" routerLink="/panel/buscar-insumos">
  <div class="card-header fw-bold text-white">Buscar</div>
  <div class="card-body-principal d-flex align-items-center justify-content-between">
      <img src="../../../assets/img/papelByN.png" class="icon-style">
  </div>
</div>

 <div class="status-card card shadow-sm mr-2" routerLink="/panel/registro-insumo">
  <div class="card-header fw-bold text-white">Crear</div>
  <div class="card-body-principal d-flex align-items-center justify-content-between">
      <img src="../../../assets/img/papelSumarByN.png" class="icon-style">
  </div>
</div>

  <div class="chips-col">
    <a class="action-chip" routerLink="/panel/ver-insumo">
      <span class="chip-left">
        <img src="../../../assets/img/quimicaByN.png" alt="" />
      </span>
      <span class="chip-right">
        <span class="chip-title">Ver / Editar</span>
        <span class="chip-subtitle">Insumos</span>
      </span>
    </a>

    <a class="action-chip" routerLink="/panel/descarga-fet">
      <span class="chip-left">
        <img src="../../../assets/img/archivoByN.png" alt="" />
      </span>
      <span class="chip-right">
        <span class="chip-title">Descargar</span>
        <span class="chip-subtitle">FET</span>
      </span>
    </a>

    <a class="action-chip" routerLink="/panel/descarga-etiqueta">
      <span class="chip-left">
        <img src="../../../assets/img/etiquetaByN.png" alt="" />
      </span>
      <span class="chip-right">
        <span class="chip-title">Imprimir</span>
        <span class="chip-subtitle">Etiqueta</span>
      </span>
    </a>

    <a class="action-chip" routerLink="/panel/descarga-hso">
      <span class="chip-left">
        <img src="../../../assets/img/archivoByN.png" alt="" />
      </span>
      <span class="chip-right">
        <span class="chip-title">Descargar</span>
        <span class="chip-subtitle">HSO</span>
      </span>
    </a>

    <a class="action-chip" routerLink="/panel/descarga-fds">
      <span class="chip-left">
        <img src="../../../assets/img/archivoByN.png" alt="" />
      </span>
      <span class="chip-right">
        <span class="chip-title">Descargar</span>
        <span class="chip-subtitle">FDS</span>
      </span>
    </a>

      <a class="action-chip" routerLink="/panel/sga">
      <span class="chip-left">
        <img src="../../../assets/img/consultaByN.png" alt="" />
      </span>
      <span class="chip-right">
        <span class="chip-title">Consultas</span>
        <span class="chip-subtitle">SGA</span>
      </span>
    </a>
  </div>
</div>

 <!-- Chips / Botones extendidos -->


