$color: #59a6d3;

.box-languaje {
  position: absolute;
  top: 109px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 45px;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.icon-big {
  width: 30% !important;
}

.icon {
  width: 23%;
}

.logo {
  width: 160px;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.topbar {
    background: rgb(69, 69, 69);
    width: 100%;
    height: 80px;
    border-bottom: 10px solid #59a6d3;
    padding-bottom: 15px;
}

.salir {
  display: flex;
}

.menu_btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.menu_btn_burger {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  position: relative;
}

.menu_btn_burger::before,
.menu_btn_burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu_btn_burger::before {
  transform: translateY(-10px);
}

.menu_btn_burger::after {
  transform: translateY(10px);
}

.menu-desplegado {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 577px;
  position: absolute;
  border-radius: 0 0 25px 0;
  top: 0;
  left: -100%;
}

.menu-desplegado .container .nav-item .nav-link {
  line-height: 1.6;
  opacity: 0.8;
  font-size: 1rem;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.botonLogin:hover {
  background-color: #ea1d06;
}

.menu-desplegado .container .nav-item .botonLogin {
  margin-top: 50px;
  margin-left: 10px;
  background-color: #ea7306;
}

.linea-divisora {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.text-salir {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 450px) {
  .salir {
    display: none;
  }

  .menu_btn {
    display: flex;
  }
}
